{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
포스트 코로나 시대의 서울시의회의 역할과 과제에 관한 연구 온라인설문
{% endblock %}
{% block app_scripts %}
    <script>
        $(document).ready(function(){
            op_checker("id_social_distancing_overreaction_6","social_distancing_overreaction_op")
            op_checker("id_social_distancing_underreaction_6","social_distancing_underreaction_op")
        })
    </script>
{% endblock %}
{% block content %}
<br class="alert border">
연구 과제명: 행동경제학적 관점에서 본 포스트 코로나 시대의 서울시의회의 역할과 과제
<br>작성자: 조남운, 어수진, 김종환, 문규범, 이지원, 정태성 (한국행동경제학연구소)</br>
</div>

{#<h3>11. 서울시의회 인지도</h3>#}
<div class="center-align">
    <div class = "alert-border">
        귀하는 다음의 매체에서 서울시의회를 얼마만큼 자주 접해보셨습니까?
    </div>
    <table class="tableFixedHead table table-striped table-bordered">
        <thead>
        <tr>
            <th></th>
            {% for sq_choices in KNOWLEDGE_METRIC %}
            <th>{{ sq_choices }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sq in form %}
        {% if forloop.counter >= 1 and forloop.counter <= 12 %}
        <tr>
            <th>{{ sq.label }}</th>
            {% for choice in sq %}
            <td class="text-center align-middle">{{ choice.tag }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
<button class = "btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.
</button>

{% endblock %}

