{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
포스트 코로나 시대의 서울시의회의 역할과 과제에 관한 연구 온라인설문
{% endblock %}
{% block app_scripts %}
    <script>
        $(document).ready(function(){
            op_checker("id_COVID_termination_time_reason_4","COVID_termination_time_reason_op")
        })
    </script>
{% endblock %}
{% block content %}
<br class="alert border">
연구 과제명: 행동경제학적 관점에서 본 포스트 코로나 시대의 서울시의회의 역할과 과제
<br>작성자: 조남운, 어수진, 김종환, 문규범, 이지원, 정태성 (한국행동경제학연구소)</br>
</div>

<h3>정책적 기대와 전망</h3>
<div class="alert border">
※지원 내용 : 코로나19 위기를 극복하기 위해 전국민에게 가구별로 40만원~100만원을 신용카드 및 체크카드, 지역사랑상품권, 선불카드의 형태로 1회 지급; 단, 이 지원금의 20%는 지자체에서 부담하게 되었으므로 기존에 거주지 등록 지자체로부터 자체 지원금을 이미 지급받은 경우에는 정부 지원금 액수가 기준보다 적음
    <div class="alert border">{% formfield player.was_emergency_cash_injection_policy_helpful %}</div>
</div>


<style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
<button class = "btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.
</button>

{% endblock %}

