{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    퀴즈 안내문
{% endblock %}

{% block content %}

    <p>
       이제부터 주어진 권한이 서울시의회와 서울시장(서울시 지방정부) 중 어느 쪽에 속하는지에 대한 퀴즈를 진행하겠습니다.
    </p>

    <p>
        주어진 권한이 왼쪽의 조직에 맞다고 생각하시면 키보드의 1 키를, 오른쪽의 조직에 맞다고 생각하시면 키보드의 0 키를 누르시면 됩니다.
    </p>
    <p>
        답을 누르시면 다음 페이지에서 정답 여부를 알려드릴 것입니다. 가장 많은 정답을 맞춰주신 10분께는 추첨을 통해 1,000원 상당의 크레딧을 추가로 드리도록 하겠습니다.
    </p>
    <br>
    <button class="btn btn-primary btn-large">
        준비되셨으면 이 버튼을 눌러 시작해 주시기 바랍니다.
    </button>

{% endblock %}
