{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
포스트 코로나 시대의 서울시의회의 역할과 과제에 관한 연구 온라인설문
{% endblock %}
{% block app_scripts %}
    <script>
        $(document).ready(function(){
            op_checker("id_COVID_termination_time_reason_4","COVID_termination_time_reason_op")
        })
    </script>
{% endblock %}
{% block content %}
<br class="alert border">
연구 과제명: 행동경제학적 관점에서 본 포스트 코로나 시대의 서울시의회의 역할과 과제
<br>작성자: 조남운, 어수진, 김종환, 문규범, 이지원, 정태성 (한국행동경제학연구소)</br>
</div>

<h3>코로나19 시기의 서울시의회의 대응정책에 대한 평가</h3>
<div class="alert border">
    ※지원 내용 : 중위소득 75% 이하(4인 가구 기준 356만2000원), 재산 6억원 이하이면서 코로나19 확산 이전보다 사업소득(근로소득)이 25% 이상 감소하여 생계가 곤란한 가구를 대상으로, 가구원 수에 따라 40만원~100만원의 지원금 지급
    <div class="alert border">{% formfield player.crisis_emergency_support_eval %}</div>
    <div class="alert border">{% formfield player.did_you_receive_crisis_emergency_support %}</div>
</div>
<style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
<button class = "btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.
</button>

{% endblock %}


