{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
포스트 코로나 시대의 서울시의회의 역할과 과제에 관한 연구 온라인설문
{% endblock %}
{% block app_scripts %}
    <script>
        $(document).ready(function(){
            op_checker("id_COVID_termination_time_reason_4","COVID_termination_time_reason_op")
        })
    </script>
{% endblock %}
{% block content %}
<br class="alert border">
연구 과제명: 행동경제학적 관점에서 본 포스트 코로나 시대의 서울시의회의 역할과 과제
<br>작성자: 조남운, 어수진, 김종환, 문규범, 이지원, 정태성 (한국행동경제학연구소)</br>
</div>

<h3>코로나19 시기의 서울시의회의 대응정책에 대한 평가</h3>
<div class="alert border">
※지원 내용 : 코로나19 사태로 생계에 어려움을 겪는 중위소득 100% 이하의 특수고용 노동자와 프리랜서 노동자에게 특별지원금 50만원을 현금으로 지급
    <div class="alert border">{% formfield player.was_special_worker_free_lancer_support_helpful %}</div>
</div>
<style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
<button class = "btn btn-primary btn-large active">

    모든 질문에 답하셨으면 이 버튼을 클릭하여 다음 화면으로 이동해 주세요.
</button>

{% endblock %}

